.header-container {
    width: 100%;
    display: flex;
    background: linear-gradient(to right, rgb(15, 15, 99), rgb(42, 136, 224));
    align-items: center;
    justify-content: center;
    position: relative;
    height: 6vh;
}

h2 {
    color: white;
}