.container-principal {
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 15, 99);
    border-radius: 16px;
    height: 80vh;
    margin-top: 80px;
    margin: 10vh 60vh 10vh 60vh;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
}

.botao-primario {
    margin: 30px;
    width: 50%;
    height: 40px;
    cursor: pointer;
    background-color: white;
}