.container {
    margin: 0 auto;
    max-width: 1480px;
    min-height: calc(100vh - 80px);
    padding: 30px 24px 44px;
    width: 100%;
}

@media (max-width: 900px) {
    .container {
        padding: 24px 16px 34px;
    }
}
