.container {
    margin: 0 auto;
    max-width: 1480px;
    min-height: calc(100vh - 92px);
    padding: 42px 32px 56px;
    width: 100%;
}

@media (max-width: 900px) {
    .container {
        padding: 28px 18px 40px;
    }
}
