<mat-nav-list>
    <mat-list-item routerLink="/dashboard" routerLinkActive="active">
        <mat-icon class="icon" matListItemIcon>dashboard</mat-icon>
        <p class="text">
            Dashboard
        </p>
    </mat-list-item>

    <mat-list-item routerLink="/equipes" routerLinkActive="active">
        <mat-icon class="icon" matListItemIcon>groups</mat-icon>
        <p class="text">
            Equipes
        </p>
    </mat-list-item>

    <mat-list-item routerLink="/confrontos" routerLinkActive="active">
        <mat-icon class="icon" matListItemIcon>sports</mat-icon>
        <p class="text">
            Confrontos
        </p>
    </mat-list-item>
</mat-nav-list>