<app-container-principal>
    <div class="dashboard-container">
        <div class="card-container">
            <app-dashboard-card titulo="Total de Equipes" valor="4" icone="groups"></app-dashboard-card>
            <app-dashboard-card titulo="Total de Confrontos" valor="3" icone="sports_kabaddi"></app-dashboard-card>
            <app-dashboard-card titulo="Próximos Confrontos" valor="3" icone="event"></app-dashboard-card>
        </div>
    
        <app-proximos-confrontos-card></app-proximos-confrontos-card>
    </div>
</app-container-principal>