<div class="shell">
    <app-header (menuToggle)="toggleSidebar()"></app-header>

    <mat-drawer-container class="shell-drawer" autosize>
        <mat-drawer
            class="shell-sidebar"
            [mode]="drawerMode()"
            [opened]="drawerOpened()">
            <app-sidebar [items]="itensMenu()"></app-sidebar>
        </mat-drawer>

        <mat-drawer-content class="shell-content" (click)="closeSidebarOnMobile()">
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
